.conteudo { /* Dentro do mundo CSS, tudo o que começa com "." é uma "classe CSS" */
	-fx-background-color: black; /* O prefixo "-fx-" está relacionado ao JavaFX */
	-fx-font-family: Raleway;
}

.titulo {
	-fx-text-fill: #bbf;
	-fx-font-size: 28px;
}

.numero {
	-fx-text-fill: #e4e7e6;
	-fx-font-size: 28px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #408080;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: #47d744;
}

.vermelho {
	-fx-text-fill: #ea2424;
}